.post {
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 10px #e3e3e3;
	margin: 25px 0px;
	padding: 10px;
	position: relative;
}

.postHeading {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px;
}

.postHeadingLink {
	color: #C44D58;
	font-size: 25px;
	position: relative;
	left: 0px;
}

.postHeading::first-letter {
	
	text-transform: capitalize;
}

.postContent {
	position: relative;
	padding: 8px 0px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 12px;
}

.postContent::first-line {
	
}

.postContent::first-letter {
	font-size: 50px;
	text-transform: capitalize;
}

.postTime {
	font-size: 10px;
	position: absolute;
	top: 0px;
	right: -70px;
	color: #efefef;
}

.commentsEnabled {
	position: absolute;
	left: 700px;
	bottom: 23px;
}

.commentsEnabled a{
    color: #556270;
    
}

.year,.month,.day {
	
}

.year {
	position: relative;
	top: -36px;
	left: 50px;
	font-size: 15px;
}

.month {
	position: relative;
	top: -40px;
	left: 50px;
	font-size: 15px;
}

.day {
	font-size: 50px;
}

.postMenu{
    color: #aaa;    
    font-size: 12px;
    float: right;
    position: relative;
    top: -8px;
}

.author{
    color: #aaa;
    
    font-size: 13px;
}

.postMenu li{
	display: inline-block;
	padding-right: 5px;
}

.edit{
    color: #aaa
}

.delete{
    color: #aaa
}